---
import Document from '../layouts/Document.astro';
---

<Document title='About me'>
  <main class='flex justify-center'>
    <h1 class=''>ab kya aur janna hai :)</h1>
  </main>
</Document>

<style>
  h1 {
    font-size: 3rem;
    margin-top: 5em;
  }
</style>
