---
export interface Props {
  title: string;
  desc: string;
}

const { title, desc } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='description' content={desc} />
    <meta name='generator' content={Astro.generator} />
    <meta name='robots' content='index, follow' />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style is:global>
      :root {
      }

      html {
        background-color: #161616;
        color: white;
      }

      body {
        margin-inline: auto;
        max-width: 50em;
        padding-inline: 1em;
      }
    </style>
  </body>
</html>
